# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [5]:
# int is a whole number
# syntax: variable = value

number = 6
print(number)

6

##### Assinging float

In [11]:
# float is a number with a decimal value
number_float = 2.6
print(number_float)

2.6

#### Performing Calculations on ints and floats

##### Addition

In [17]:
num1 = 5
num2 = 2.4

result = num1 + num2
print(result)

# Shorthand for incrementing
# result = result + 2
result += 2
print(result)

7.4
9.4

##### Subtraction

In [19]:
result_diff = 5 - num1
print(result_diff)

# decrementation
# result_diff = result_diff - 1

result_diff -= 1
print(result_diff)

0
-1

##### Multiplication

In [21]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

12.0
24.0

##### Division

In [26]:
result_div = 50 / num1

print(result_div)

#shorthand
result_div /= 2
print(result_div)

10.0
5.0

##### Floor Division

In [38]:
result_floor = 20 // 7
print(result_floor)

result_floor //= 2

print(result_floor)

2
1

##### Modulo

In [43]:
result_mod = 13 % 2
print(result_mod)

#shorthand decrementation is possible - not often used with modulo

1

##### Exponential

In [54]:
squared = 10**2
print(squared)

#shorthand exponent incrementation

squared **= 2
print(squared)

100
10000

### String Input-Output

##### String Assignment

In [92]:
name = "Nate"
print(name)

Nate

##### print() <br>
<p>Don't forget about end=' '</p>

In [69]:
print("This is my first name:", name)

# print("Full Name:", name, end=" Welter")

#help
help(print)

This is my first name: Nate
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### String Concatenation

In [73]:
first = "James"
last = "Bond"

full_name = first + " " + last
print(full_name)

#Shorthand
# full_name = "James Bond" + " the 3rd"
full_name += " the 3rd"
print(full_name)

James Bond
James Bond the 3rd

##### Type Conversion

In [81]:
number = '45'

new_type = int(number)

# type(number)
type(new_type)

# MUST be used to convert number values only (no letters) - below will cause an error
# some_word = "Coding"
# int(some_word)

int

##### input()

In [91]:
# Input will always a return a string to you -- EVERY TIME

# Syntax: variableName = input("Some question goes here...")

# name = input("What is your name?")

# print(name)

age = int(input('What is your age?'))

add_age = age + 1

print(add_age)

What is your age?20
21

##### format()

In [96]:
time = input("How long have you been at Coding Temple?")

# Non efficient way...
# sentence = "Your name is " + name + " " + "you have been at CT for " + time
# print(sentence)

# formatted string
result = "Your name is {} you have been at CT for {}".format(name,time)
print(result)

# f string - MOST COMMON
result_2 = f"Your name is {name} you have been at CT for {time}!"
print(result_2)

How long have you been at Coding Temple?1.3 years
Your name is Nate you have been at CT for 1.3 years
Your name is Nate you have been at CT for 1.3 years!

##### Old Way (python 2)

In [97]:
# Old fashioned way... but you may see this occasionally in older docs
result_3 = "You have been at CT for %s" %time
print(result_3)

You have been at CT for 1.3 years

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [100]:
# OUTPUT: This car has a Blue color, the year is 2019, make is Honda, model is Civic!

car_color = input("What color is your car?")
car_year = input("What year was your car made?")
car_make = input("What company produced your car?")
car_model = input("What model of car do you have?")

car_statement = f"I am driving a {car_color}, {car_year} {car_make} {car_model}."

print(car_statement)

What color is your car?Blue
What year was your car made?2010
What company produced your car?Ford
What model of car do you have?F150
I am driving a {car_color}, {car_year} {car_make} {car_model}.

### If Statements

In [106]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

num1 = 5
num2 = 10

if num1 == num2:
    print("Equal Values")
else:
    print("Not equal")
    
    
if num2 >= num1:
    print('num2 is greater or equal')
elif num2 <= num1:
    print('num2 less or equal')

Not equal
num2 is greater or equal

##### 'is' keyword

In [109]:
# use is if we are checking for the same or a similar object, not necessarily the same value
num3 = "Nate"
num4 = "Nate"

if num3 is num4:
    print('This is the exact object')

This is the exact object

##### 'in' keyword

In [112]:
# Check if a character is in a name

char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [122]:
char_two = "Sonic"

if 'a' not in char_two:
    print("There is not an a")

There is not an a

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [125]:
# OUTPUT -- True (if 'p' exists in answer)
# False (if 'p' does not exist in answer)
name = input("What is your name?")
# if "p" in name:
#     print(True)
# else:
#     print(False)

#Shorthand to return a boolean value
"p" in name

What is your name?peter

True

## Using 'and'/'or' with If Statements

In [138]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num_1 = 15
num_2 = 3
num_3 = 10
num_4 = 2



# If with "and" keyword
if 15 / 5 == 3 and 10 - 8 == 2:
    print("True and True")
    
# if with "or" keyword
if 15 - 7 == 8 or 2 + 2 == 4:
    print("At least one is true")

True and True
At least one is true

### Elif Statements

In [147]:
school_name = input("What School do you go to?")

if school_name == "Coding Temple":
    print('It is not IU, it is Coding Temple!')
elif school_name == "Indiana University":
    print("This is IU")
elif school_name != "CTU":
    print('Not IU, Not Coding Temple, Not CTU!')
else:
    print(f'I have never heard of {school_name}')
    

# num = 15

# if num / 5 > 1:
#     print("The number is at least 5")
# elif num * 3 > 45:
#     print("The number is at least 15")

What School do you go to?Indiana University
This is IU

### Else Statements

In [ ]:
# see above

### For Loops

In [164]:
# "for" keyword, counter, "in" keyword

name = "Nate Welter"

for n in name:
    print(n)

for i in range(len(name)):
    print(f'name[{i}] == {name[i]}')

N
a
t
e

W
e
l
t
e
r
name[0] == N
name[1] == a
name[2] == t
name[3] == e
name[4] ==
name[5] == W
name[6] == e
name[7] == l
name[8] == t
name[9] == e
name[10] == r

##### Using 'in' keyword

In [165]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [167]:
for i in range(20):
    if i % 3 == 0:
        continue
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19

##### Break Statement

In [ ]:
# will break out of current loop

In [168]:
for i in range(20):
    if i == 7:
        break
    print(i)

0
1
2
3
4
5
6

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [171]:
for i in name:
    pass # TODO item: telling yourself to come back and finish later (will not break your code and cause errors)

##### Double For Loops

In [178]:
for i in range(5):
    for j in range(5):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 0, j = 3
i = 0, j = 4
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 3, j = 0
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 4, j = 0
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4

### While Loops

In [181]:
# while keyword, conditional statement
# whole looping functionality is directly tied to condition remaining true

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [182]:
while True:
    name = input("What is your name? type 'quit' to quit")
    if name == 'quit':
        break
    else:
        print(f"Hello there {name}!")

What is your name? type 'quit' to quitNate
Hello there Nate!
What is your name? type 'quit' to quitMarcus
Hello there Marcus!
What is your name? type 'quit' to quitNicole
Hello there Nicole!
What is your name? type 'quit' to quitquit

##### While & For Loops Used Together

In [186]:
num = 0

while num < 5:
    print("\nWhile Loop iteration:", num)
    
    for i in range(2):
        print("For Loop iteration:", i)
    
    num += 1

While Loop iteration: 0
For Loop iteration: 0
For Loop iteration: 1

While Loop iteration: 1
For Loop iteration: 0
For Loop iteration: 1

While Loop iteration: 2
For Loop iteration: 0
For Loop iteration: 1

While Loop iteration: 3
For Loop iteration: 0
For Loop iteration: 1

While Loop iteration: 4
For Loop iteration: 0
For Loop iteration: 1

### Built-In Functions

##### range()

In [196]:
#start, Stop, Step
# goes up to stop, not including stop

for i in range(2,30,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

##### len()

In [201]:
# checks length of the variable

name = "John"

length = len(name)
print(length)

4

##### help()

In [205]:
# use this for some documentation for built-in python functions

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [210]:
#help(isinstance)
print(isinstance(4.5, float))

if isinstance(4.5, float):
    print("It is a float!")

True
It is a float!

##### abs()

In [214]:
# |-5|
print(abs(-5))

5

### Try and Except

In [219]:
# use when you expect your code to broken (usually by incorrect input) - this allows you to keep the program running
# Also allows you look out more graceful error messages

try:
    number_test = 0
    input_num = int(input("Guess a number!"))
    if input_num == number_test:
        print("You Guessed the number!")
    else:
        print("Sorry, Try again")
except:
    print("That did not work -- please change your input to a number next time!")

Guess a number!10
Sorry, Try again
Guess a number!ten
That did not work -- please change your input to a number next time!
Guess a number!twelve
That did not work -- please change your input to a number next time!
Guess a number!15
Sorry, Try again
Guess a number!0
You Guessed the number!

### Lists

##### Declaring Lists

In [220]:
list_1 = [] # Empty List

names = ['Max', 'Cindy', 'Kathy', 'Bob']

print(names)

['Max', 'Cindy', 'Kathy', 'Bob']

##### Indexing a List

In [237]:
# Syntax: list_name[start:stop:step]

# Single index -- list_name[index]
print(names[0])

# negative single index counts from the end of the list
print(names[-1])

# Print starting at idx 1, go until the end
print(names[1:])

# Print everything from start up to idx 2
print(names[:2])

# print beginning at idx 1, go through the end, step by 2
print(names[1::2])

# print starting at the end in reverse order
print(names)
print(names[::-1])

Max
Bob
['Cindy', 'Kathy', 'Bob']
['Max', 'Cindy']
['Cindy', 'Bob']
['Max', 'Cindy', 'Kathy', 'Bob']
['Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [238]:
names.append("Joel")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Joel']

##### .insert()

In [239]:
# list_name.insert(idx, value)

names.insert(1, "Nate")

print(names)

['Max', 'Nate', 'Cindy', 'Kathy', 'Bob', 'Joel']

##### .pop()

In [240]:
# default to the very last index if no parameter
# pop returns the element you pop, so you can store it as a variable and use it if you want

my_name = names.pop(1)
print(my_name)
print(names)

# Raffle example
# raffle = ['zys32541', '28hdwjdgwdd', '2s2wh2wfw1']

# one = raffle.pop()
# two = raffle.pop()
# three = raffle.pop()

# print(raffle)

Nate
['Max', 'Cindy', 'Kathy', 'Bob', 'Joel']


##### .remove()

In [252]:
# value to be removed, not an index
names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Joel', 'Bob', 'Bob']

# remove all instances of a particular value
while 'Bob' in names:
    names.remove('Bob')
    print("Removing another bob...", names)

Removing another bob... ['Max', 'Cindy', 'Kathy', 'Joel', 'Bob', 'Bob']
Removing another bob... ['Max', 'Cindy', 'Kathy', 'Joel', 'Bob']
Removing another bob... ['Max', 'Cindy', 'Kathy', 'Joel']

##### del()

In [253]:
# list index to be reomved, not a value in particular
# BE CAREFUL, can cause indexing errors
print(names)
del(names[1])
print(names)

['Max', 'Cindy', 'Kathy', 'Joel']
['Max', 'Kathy', 'Joel']

##### Concatenating Two Lists

In [257]:
# will append two or more lists using the '+' operator, will not add up items in list
list_2 = [0,1,2]
list_3 = [3,4,5]

list_4 = list_2 + list_3
print(list_4)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [270]:
# list can hold any datatype OR object used in python
# can have lists within other lists

names = ['Jeff', 'Sam', 'josh', 'Tabitha', ['Tameka', 'Sally', 'Jessica']]

print(names)

print(names[4][2])

['Jeff', 'Sam', 'josh', 'Tabitha', ['Tameka', 'Sally', 'Jessica']]
Jessica

##### Looping Through Lists

In [274]:
# two different ways to loop : by valuse, by index

# Loop by value
for name in names:
    print(name)
    
# Loop by index
for i in range(len(names)):
    print(names[i])

Jeff
Sam
josh
Tabitha
['Tameka', 'Sally', 'Jessica']
Jeff
Sam
josh
Tabitha
['Tameka', 'Sally', 'Jessica']

# Additional example

In [254]:
names = ['Max', 'Cindy', 'Kathy', 'Joel', 'Bob', 'Bob', 'Cindy']
rem_names = ['Bob', 'Cindy']

for name in rem_names:
    while name in names:
        names.remove(name)
        print(f'Removing {name}...', names)

Removing Bob... ['Max', 'Cindy', 'Kathy', 'Joel', 'Bob', 'Cindy']
Removing Bob... ['Max', 'Cindy', 'Kathy', 'Joel', 'Cindy']
Removing Cindy... ['Max', 'Kathy', 'Joel', 'Cindy']
Removing Cindy... ['Max', 'Kathy', 'Joel']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [6]:
# this will require some kind of loop
# Jordan's Solution
cubes = [number**3 for number in range(1,10)]

for cube in cubes:
    if cube > 1000:
        break
    print(cube)
    

# while loop
result = 0
i = 1

while result < 1000:
    result = i ** 3
    print(result)
    i += 1  # i = i + 1
    
    
# Another way -- a little better or more dynamic for other tests

x = 1

while x**3 <= 1000:
    print(x**3)
    x += 1

1
8
27
64
125
216
343
512
729
1
8
27
64
125
216
343
512
729
1000
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [11]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# for num in range(1,542):
#     if num > 1:
#         for new_num in range(2,num):
#             if num % new_num == 0:
#                 break
#         else:
#             print(num)

# Another solution

for num in range(2,101):
    for i in range(2,num):
        if num % i == 0:
            break
    else:
        print(num)
        
        
# 3rd while loop

num = 2

while num < 100:
    for i in range(2,num):
        if num % i == 0:
            break
    else:
        print(num)
    num +=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [20]:
age = int(input("How old are you?"))

if age < 18:
    print('kids')
elif age <= 65:
    print('adult')
else:
    print('Senior')

How old are you?three
ERROR: Please use a number next time!